//main: main.less
@media screen and (max-width: 768px) {
     .content {
        float: none;
        display: block;
        width: 100%;
    }
    section{
        padding: 10px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    p,a,ul,li{
        font-size: 16px;
    }
    .sidebar {
        float: none;
        display: block;
        width: 100%;
    }
    
    .wrapper {


width: 100%

}
    
    img {
    height: auto;
    max-width: 100%;
}
    .sidebar-widget {
    display: inherit;
}
    .sidebar-widget div {
    width: 100%;
    padding: 10px;
}
    .cont {
    display: inherit;
    }
    .cont main {
    width: 100%;
}
    
    .contenedor-blog {
   
    display: contents;
    }
    .contenedor-blog2 article {
    padding: initial;
    }
    .contenedor-blog2 p {
   
    padding: 10px;
    }
.flex {
    display: inline;
}
    .flex.cols-2 .column {
    width: 100%;
        padding: 10px;
    }
    footer{
        .info i {
    color: #ffac2f;
    position: absolute;
    left: -2px;
    top: 2px;
}
         img.logo {
    margin-bottom: 50px;
    display: block;
    margin: auto;
}
       h2 {
    text-align: center;
        }
        iframe {
    display: block;
    margin: auto;
}
        .mapa{
            padding: inherit;
        }
    }
    p.copyright {
    text-align: center;
}
    header{
        .topbar {
    padding: 20px;
    }
        ul.redes.flex {
    display: flex;
}
        .column {
    padding: 10px 0px;
}
        i.fas {
    margin-right: 5px;
}
    }
    
    /**HOME**/
    #salta .info {
    margin-left: 200px;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 0px;
    top: 330px;
    }
    
    #salta h2 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    position: relative;
    line-height: 0.2em;
    left: 0px;
    top: 113px;
    width: 100%;
        .column {
    text-align: left;
    position: relative;
top: 335px;
    left: 0px;
}
      
        
}
    p{
        text-align: justify;
    }
    #salta h2 .text {
    position: absolute;
    left: 122px
    }
    #salta img.salta {
    position: absolute;
        left: -125px;
    top: 77px;
}
    #salta h2 .column strong {
  
    font-size: 0.35em;
    
}
    #salta h2 .column span {
    color: #00b2ff;
    font-size: 0.27em;
    font-family: 'allerbold';
}
    #salta h2 .column b {
    display: block;
    font-size: 0.3em;
}
    #salta .info h3 {
   
    font-size: 2.5em;
    }
      #salta {
    background: url(img/movil/BrushCompletomovil.png) no-repeat top center;
            
        }
    #instagram {
    padding: 50px 10px;
    h2 {
   // text-align: center;
    font-size: 3em;
    }
    }
    
}