//main: main.less
@media screen and (max-width: 768px) {
    #precios-academia table .total {
    display: none;
    }
    #precios-academia .tablaresponsive{
        display: inherit;
        h3,p{
            text-align: center;
        }
        h3{
            color: #01a9b4;
            font-size: 45px;
        }
        p{
            font-size: 24px;
        }
    }
     .content {
        float: none;
        display: block;
        width: 100%;
    }
    .topbar.lap {
    display: none;
}
    .topbar.movil {
    display: inherit;
  }
    .flex.cols-3 > .column {
    width: 100%;
}
    section{
        padding: 10px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    p,a,ul,li{
        font-size: 16px;
    }
    .sidebar {
        float: none;
        display: block;
        width: 100%;
    }
    
    .wrapper {


width: 100%

}
    
    img {
    height: auto;
    max-width: 100%;
}
    .sidebar-widget {
    display: inherit;
}
    .sidebar-widget div {
    width: 100%;
    padding: 10px;
}
    .cont {
    display: inherit;
    }
    .cont main {
    width: 100%;
}
    
    .contenedor-blog {
   
    display: contents;
    }
    .contenedor-blog2 article {
    padding: initial;
    }
    .contenedor-blog2 p {
   
    padding: 10px;
    }
.flex {
    display: inline;
}
    .flex.cols-2 .column {
    width: 100%;
        padding: 10px;
    }
    footer{
        .info i {
    color: #ffac2f;
    position: absolute;
    left: -2px;
    top: 2px;
}
         img.logo {
    margin-bottom: 50px;
    display: block;
    margin: auto;
                 width: 80%;
}
       h2 {
    text-align: center;
        }
        iframe {
    display: block;
    margin: auto;
}
        .mapa{
            padding: inherit;
        }
    }
    p.copyright {
    text-align: center;
}
    header{
        .topbar .flex {
   // justify-content: center;
        }
        ul.redes.flex {
    display: flex;
                position: relative;
    right: 20px;
}
        .column {
    padding: 30px 10px 10px 10px;
}
        i.fas {
 //   margin-right: 5px;
}
    }
    
    /**HOME**/
    
    #salta .info {
    margin-left: 200px;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 0px;
    top: 330px;
    }
    
    #salta h2 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    position: relative;
    line-height: 0.2em;
    left: 0px;
    top: 113px;
    width: 100%;
        .column {
    text-align: left;
    position: relative;
top: 335px;
    left: 0px;
}
      
        
}
    p{
        text-align: justify;
    }
    #salta h2 .text {
    position: absolute;
    left: 122px
    }
    #salta img.salta {
    position: absolute;
        left: -125px;
    top: 77px;
}
    #salta h2 .column strong {
  
    font-size: 0.35em;
    
}
    #salta h2 .column span {
    color: #00b2ff;
    font-size: 0.27em;
    font-family: 'allerbold';
}
    #salta h2 .column b {
    display: block;
    font-size: 0.3em;
}
    #salta .info h3 {
   
    font-size: 2.5em;
    }
      #salta {
    background: url(img/movil/BrushCompletomovil.png) no-repeat top center;
          margin-top: auto;
            
        }
    #instagram {
    padding: 50px 10px;
    h2 {
   // text-align: center;
    font-size: 3em;
    }
    }
    
    #why {
    background: url(img/movil/why.jpg) no-repeat center;
    color: #fff;
    height: 900px;
     h2 {
    font-size: 2.5em;
    text-align: justify;
        }
       .info {
    float: right;
    width: inherit;
        }
}
    #beneficios{
            background: url(img/home/Beneficios/brush.jpg) no-repeat center;
    padding: inherit;
    padding-top: 136px;
        .column:nth-child(1) img {
    left: 8px;
    top: -53px;
    width: 80%;
}
        p{
            text-align: center;
        }
        
        .beneficio{
                min-height: inherit;
        margin-bottom: 115px;
             h2 {
    
    font-size: 1.6em;
            }
        }
        .column:nth-child(2) img {
    top: -93px;
   
    margin: 0 auto;
    left: auto;
    right: 0;
   
}
         .column:nth-child(3) img {
   top: -55px;
    left: 104px;
    width: 70%;
}
        
        
    
}
    #paquetes{
        padding-bottom: 50px;
        h2 {
    font-size: 2em;
    }
        .paquete.uno .fondo {
    background-image: url(img/movil/paquete1.jpg);
    height: 500px;
    background-size: contain;
}
        .paquete.dos .fondo {
    background-image: url(img/movil/paquete2.jpg);
            height: 500px;
    background-size: contain;
}
        .paquete.tres .fondo {
    background-image: url(img/movil/paquete3.jpg);
            height: 500px;
    background-size: contain;
}
        
  .paquete h3 {
    color: #fff;
    text-align: center;
    font-size: 4em;
          top: 322px;
          left: 0;
     .precio {
   
    width: inherit;
  
    padding: inherit;
}
        }
         .paquete .detalles .btn {
    background: url(img/movil/btn.png) no-repeat;
           width: -webkit-fill-available;
    
    height: 90px;
    position: relative;
   right: 0px;
    top: 10px;
        }
        .paquete .detalles .btn span {
    position: relative;
    top: 10px;
       left: -33px;
}
        
    }
    
    #condiciones{
          background: url(img/movil/tornado.png) no-repeat top center;
    background-size: cover;
    min-height: auto;
    padding: 200px 0 525px 0;
        h2 {
    font-size: xx-large;
    }
    }
    #garantia{
        padding-top: 450px;
            margin-bottom: -175px;
        img{
            width: 70%;
        position: relative;
    top: -400px;
        }
        .info{
            position: relative;
    top: -370px;
        }
    }
    #addons{
        h2 {
    font-size: 1.8em;
    }
    }
    #addons .paquete h3, #recomendaciones .opcion h3 {
   
    font-size: 2em;
    }
    #advertencia {
    background: url(img/movil/advert.jpg) no-repeat center top;
    min-height: 1000px;
    background-size: cover;
         h2 {
    font-size: 2em;
    text-align: center;
        }
        img{
            display: none;
        }
        .wrapper {
    position: relative;
    top: 498px;
        }
    }
    .flex.cols-70-30 .column:last-child {
    width: 100%;
    padding: 20px;
}
    #recomendaciones{
        h2 {
    font-size: 1.8em;
    }
        .opcion h3, .opcion {
    min-height: auto;
}
        p {
    margin-bottom: 75px;
}
    }
    
 #addons #packs .paquete {
    min-height: auto;
}
   /**ACADEMIA**/
    .flex.cols-4 > .column {
    width: 100%;
}
    #niveles-academia{ .bloque {
    width: 100%;
    min-height: auto;
    margin-bottom: 30px;

         h2 {
    
    font-size: 2em;
        }
    }
         p {
    font-size: smaller!important;
    text-align: center;
        }
    }
    #precios-academia{
         table {
           width:100%;
             &.responsive{
                 td:nth-of-type(1):before { content: "Nivel"; font-size: 23px;
    color: #ffac2f;    font-family: 'allerbold';}
		td:nth-of-type(2):before { content: "Curso de Paracaidismo Pagos Parciales"; font-size: 23px;
    color: #01a9b4; font-family: 'allerbold';}
		 	td:nth-of-type(3):before { content: "Curso Intensivo O pago de contado"; font-size: 23px;
    color: #ffac2f;    font-family: 'allerbold';}
             }
       }
       th {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
    
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
        }
        
       	td:nth-of-type(1):before { content: "Salto / Nivel"; font-size: 23px;
    color: #ffac2f;    font-family: 'allerbold';}
		td:nth-of-type(2):before { content: "Curso de Paracaidismo Pagos Parciales"; font-size: 23px;
    color: #01a9b4; font-family: 'allerbold';}
		 	td:nth-of-type(3):before { content: "Curso Intensivo O pago de contado"; font-size: 23px;
    color: #ffac2f;    font-family: 'allerbold';}
	
		
    }
    #licencia-academia .wrapper {
    margin-top: auto;
    }
    #horarios-academia h2 {
    
    font-size: 3em;
    text-align: center;
        position: relative;
    top: 45px;
    }
    #beneficios.academia .beneficio {
    min-height: 450px;
}
    #beneficios.academia .beneficio.restaurante {
   // background: url(img/academia/ademas/restaurante.png) no-repeat #eeeeee center bottom;
    min-height: 365px;
}
    #beneficios.academia .beneficio.alberca {
   // background: url(img/academia/ademas/alberca.png) no-repeat #eeeeee center bottom;
    min-height: 435px;
}
    #beneficios.academia .beneficio.camping {
    background: url(img/academia/ademas/camping.png) no-repeat #eeeeee center bottom;
    min-height: 325px;
}
    #beneficios.academia .beneficio.aviones img {
    left: -20px;
    top: -81px;
    margin-bottom: -96px;
        position: relative;
}
    #condiciones.academia {
    .wrapper {
   
    position: relative;
    top: 500px;
}
 table td {
    padding: 20px;
}
    &::after {
    bottom: inherit;
    top: 674px;
    }
    }
    #entrenamiento {
    padding: 100px 10px;
       .wrapper {
    margin-top: inherit;
            h2 {
    font-size: 2em;
                span:first-child {
   
    left: auto;
                }
                span:last-child {
    right: auto;
}
           }
        }
}
   #transporte-contacto {
    padding: 0px 10px 190px 10px;
    margin: -118px 0 0px 0;
    }
    #transporte-contacto h1 {
    color: #ffac2f;
    text-align: left;
    font-size: 2em;
}
    #comollegar-faq::after {
    display: none;
    }
    #experiencia-tornado{
            min-height: auto;
      h2 {
   
    font-size: 2em;
        }
        img {
    width: 100%;
    float: inherit;
    margin-top: auto;
    position: relative;
    right: 55px;
}
        .info {
    
    position: relative;
    }
    }
    #costo-tornado{
        .flex.cols-3 > .column {
        margin-bottom: 30px;
        }
    }
    #tornado-faq .wrapper {
    margin-top: auto;
    }
    #tornado-banner {
  
    padding: 100px 10px;
}
}